---
import {getCollection, getEntry} from 'astro:content'

import Link from '../../../components/link.astro'
import {employerUrl, getLastPath} from '../../../helpers'
import BaseLayout from '../../../layouts/base-layout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('work-experience')

  return posts.map(post => {
    const lastSlug = getLastPath(post.slug)

    return {
      params: {
        employer: post.data.employer.slug,
        project: lastSlug,
        slug: lastSlug,
      },

      props: {post},
    }
  })
}

const {post} = Astro.props
const {Content} = await post.render()
const {title} = post.data

const employer = await getEntry('employers', post.data.employer.slug)
---

<BaseLayout openGraphType="article" title={title}>
  <main class="content-grid flow">
    <h1>{title}</h1>

    <p>Employer: <Link href={employerUrl(employer.slug)}>{employer.data.name}</Link></p>

    <p>{post.data.description}</p>

    <Content />
  </main>
</BaseLayout>
