---
import {getCollection, getEntry} from 'astro:content'

import {employerProjectUrl} from '../../helpers'
import BaseLayout from '../../layouts/base-layout.astro'

const EMPLOYER = '8th-light'

const post = await getEntry('employers', EMPLOYER)

const projects = (await getCollection('work-experience')).filter(
  project => project.data.employer.slug === EMPLOYER,
)

projects.sort((a, b) => {
  if (a.data.order && b.data.order) {
    if (a.data.order < b.data.order) {
      return 1
    }

    if (a.data.order > b.data.order) {
      return -1
    }
  }

  return a.data.title < b.data.title ? -1 : 1
})

const {Content} = await post.render()

const {name} = post.data
---

<BaseLayout title={name}>
  <main class="content-grid flow">
    <header class="flow">
      <h1>{name}</h1>
    </header>

    <Content />

    <section class="flow">
      <h2>Project History</h2>

      <ul>
        {
          projects.map(project => {
            if (!project.data.noPage) {
              return (
                <li>
                  <a href={employerProjectUrl(EMPLOYER, project.slug)}>{project.data.title}</a>
                </li>
              )
            }

            return <li>{project.data.title}</li>
          })
        }
      </ul>
    </section>
  </main>
</BaseLayout>
