---
import {getEntry} from 'astro:content'

import BaseLayout from '../../layouts/base-layout.astro'

const post = await getEntry('employers', 'avela')

const {Content} = await post.render()

const {name} = post.data
---

<BaseLayout title={name}>
  <main class="content-grid flow">
    <header class="flow">
      <h1>{name}</h1>
    </header>

    <Content />
  </main>
</BaseLayout>
