---
import {getCollection} from 'astro:content'

import {asIsoDate, asPostDate} from '../../helpers'
import BaseLayout from '../../layouts/base-layout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('writing')

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {post},
    }
  })
}

const {post} = Astro.props
const {Content} = await post.render()

const {date, description, title} = post.data
---

<BaseLayout description={description} openGraphType="article" title={title}>
  <main class="wrapper flow">
    <header class="flow">
      <h1>{title}</h1>

      <time class="PublishDate" datetime={asIsoDate(date)}>{asPostDate(date)}</time>
    </header>

    <Content />
  </main>
</BaseLayout>

<style lang="scss">
  @use '../../styles/properties';

  header {
    font-family: properties.get-value('base', 'fontFamily', 'secondary');
    margin-block-end: properties.get-value('base', 'spacing', 'xl', 'px');

    .PublishDate {
      font-size: properties.get-value('base', 'fontSize', 'small');
      font-style: italic;
    }
  }
</style>
